<div id="disscussions">
    <p>3 Posts</p>
    <div class="disscussion">
        <img src="./../images/nouser.png" alt="">
        <div class="info">
            <div>
                <span class="name">Sukhraj</span> <span class="time">5 hours ago</span>
                <span class="like">
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-thumbs-down"></i>
                </span>
            </div>
            <p>To what extent do we redesign for sub-pages?</p>
            <button>Reply</button>
        </div>
    </div>

    <div class="disscussion">
        <img src="./../images/nouser.png" alt="">
        <div class="info">
            <div> <span class="name">Sukhraj</span> <span class="time">5 hours ago</span>
                <span class="like">
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-thumbs-down"></i>
                </span>
            </div>
            <p>To what extent do we redesign for sub-pages?</p>
            <button>Reply</button>
        </div>
    </div>


    <div class="disscussion">
        <img src="./../images/nouser.png" alt="">
        <div class="info">
            <div> <span class="name">Sukhraj</span> <span class="time">5 hours ago</span>
                <span class="like">
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-thumbs-down"></i>
                </span>
            </div>
            <p>To what extent do we redesign for sub-pages?</p>
            <button>Reply</button>
        </div>
    </div>



    <div class="disscussion">
        <img src="./../images/nouser.png" alt="">
        <div class="info">
            <div> <span class="name">Sukhraj</span> <span class="time">5 hours ago</span>
                <span class="like">
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-thumbs-down"></i>
                </span>
            </div>
            <p>To what extent do we redesign for sub-pages?</p>
            <button>Reply</button>
        </div>
    </div>



    <div class="disscussion">
        <img src="./../images/nouser.png" alt="">
        <div class="info">
            <div> <span class="name">Sukhraj</span> <span class="time">5 hours ago</span>
                <span class="like">
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-thumbs-down"></i>
                </span>
            </div>
            <p>To what extent do we redesign for sub-pages?</p>
            <button>Reply</button>
        </div>
    </div>


</div>