<div class="item">
    <img src="./images/items/1.jpg" alt="">
    <div class="detail">
        <h1 class="topic">COVID-19 Challenge</h1>
        <div class="type">Challenge</div>
        <div class="info">NRC is seeking a low cost system (unit cost <$25) that can continuously measure temperature,
                peripheral capillary oxygen saturation (SpO2), blood pressure (BP), pulse and respiration rates, and
                transmit this in... </div>
                <div class="icons">
                    <i class="far fa-paper-plane"></i>
                    <i class="far fa-heart"></i>
                    <i class="far fa-comment"></i>
                    <a href="./Sukhraj_Singh_Front_end_developer_Details.html" class="view">View</a>
                </div>
        </div>
    </div>
</div>

<div class="item">
    <img src="./images/items/2.jpg" alt="">
    <div class="detail">
        <h1 class="topic">Recycled Plastic Ceiling Tiles</h1>
        <div class="type">Challenge</div>
        <div class="info">The Public Health Agency of Canada (PHAC) and National Research Council (NRC) are seeking a solution that will diagnose individuals affected by COVID-19 within 3 days of the start of their symptoms using a sample, other than a nasopharyngeal swab, with a rapid s...</div>
        <div class="icons">
            <i class="far fa-paper-plane"></i>
            <i class="far fa-heart"></i>
            <i class="far fa-comment"></i>
            <a href="./Sukhraj_Singh_Front_end_developer_Details.html" class="view">View</a>
        </div>
    </div>
</div>



<div class="item">
    <img src="./images/items/3.png" alt="">
    <div class="detail">
        <h1 class="topic">Recycled Plastic Ceiling Tiles</h1>
        <div class="type">Challenge</div>
        <div class="info">View more details and submit the project here:
            https://www.ic.gc.ca/eic/site/101.nsf/eng/00090.html Problem statement The challenge we are facing is global
            and departmental. Globally, there is an accumulation of plastic with the equivalent of one tonne per person
            in exi...</div>
        <div class="icons">
            <i class="far fa-paper-plane"></i>
            <i class="far fa-heart"></i>
            <i class="far fa-comment"></i>
            <a href="./Sukhraj_Singh_Front_end_developer_Details.html" class="view">View</a>
        </div>
    </div>
</div>




<div class="item">
    <img src="./images/items/4.png" alt="">
    <div class="detail">
        <h1 class="topic">Diverting End of Life Vehicle Plastics from Landfills</h1>
        <div class="type">Challenge</div>
        <div class="info">View more details and submit your project here: https://www.ic.gc.ca/eic/site/101.nsf/eng/00092.html Problem statement It is estimated that Canada generates between 300 and 400 kt per year of automotive...</div>
        <div class="icons">
            <i class="far fa-paper-plane"></i>
            <i class="far fa-heart"></i>
            <i class="far fa-comment"></i>
            <a href="./Sukhraj_Singh_Front_end_developer_Details.html" class="view">View</a>
        </div>
    </div>
</div>




<div class="item">
    <img src="./images/items/5.png" alt="">
    <div class="detail">
        <h1 class="topic">Diverting End of Life Vehicle Plastics from Landfills</h1>
        <div class="type">Challenge</div>
        <div class="info">View more details and submit your project here: https://www.ic.gc.ca/eic/site/101.nsf/eng/00092.html Problem statement It is estimated that Canada generates between 300 and 400 kt per year of automotive...</div>
        <div class="icons">
            <i class="far fa-paper-plane"></i>
            <i class="far fa-heart"></i>
            <i class="far fa-comment"></i>
            <a href="./Sukhraj_Singh_Front_end_developer_Details.html" class="view">View</a>
        </div>
    </div>
</div>



<div class="item">
    <img src="./images/items/5.png" alt="">
    <div class="detail">
        <h1 class="topic">Diverting End of Life Vehicle Plastics from Landfills</h1>
        <div class="type">Challenge</div>
        <div class="info">View more details and submit your project here: https://www.ic.gc.ca/eic/site/101.nsf/eng/00092.html Problem statement It is estimated that Canada generates between 300 and 400 kt per year of automotive...</div>
        <div class="icons">
            <i class="far fa-paper-plane"></i>
            <i class="far fa-heart"></i>
            <i class="far fa-comment"></i>
            <a href="./Sukhraj_Singh_Front_end_developer_Details.html" class="view">View</a>
        </div>
    </div>
</div>


<div class="item">
    <img src="./images/items/6.png" alt="">
    <div class="detail">
        <h1 class="topic">E-Waste</h1>
        <div class="type">Challenge</div>
        <div class="info">View more details and submit your project here: https://www.ic.gc.ca/eic/site/101.nsf/eng/00092.html Problem statement It is estimated that Canada generates between 300 and 400 kt per year of automotive...</div>
        <div class="icons">
            <i class="far fa-paper-plane"></i>
            <i class="far fa-heart"></i>
            <i class="far fa-comment"></i>
            <a href="./Sukhraj_Singh_Front_end_developer_Details.html" class="view">View</a>
        </div>
    </div>
</div>







