<div id="overview">
    <p>General</p>
    <h2>Reimagine and create frontend webpages of the following pages:</h2>
    <ul>
        <li>Explore page (https://preprlabs.org/)</li>
        <li>Projects page (https://preprlabs.org/myProjects)</li>
        <li>Challenges page (https://preprlabs.org/list/challenge)</li>
        <li>Challenge details page
            (https://preprlabs.org/challengeManager/front-end-developer-work-challenge)
        </li>
        <li>Labs page (https://preprlabs.org/joinedLab)</li>
    </ul>
    <div class="more">
        <h2>Evaluation Criteria:</h2>

        <p>25% on your approach to tackling the problem and the steps you took to get to your solution and
            final
            deliverable</p>
        <p> 25% on how well you used various tools & processes to tackle the challenge</p>
        <p>50% on the final solution and output of your challenge</p>
    </div>

    <button class="show-more">Show more</button>
</div>