<div id="submissions">
    <div class="submission">
        <img src="./images/items/1.jpg" alt="">
        <div>
            <h2>Prepr Frontend Re-design</h2>
            <p class="status"><span>Currently</span> IN PROGRESS</p>
            <a href="#">https://github.com/SUKHBATTH</a>
        </div>
    </div>
    <div class="submission">
        <img src="./images/items/2.jpg" alt="">
        <div>
            <h2>Prepr Frontend Re-design</h2>
            <p class="status"><span>Currently</span> IN PROGRESS</p>
            <a href="#">https://github.com/SUKHBATTH</a>
        </div>
    </div>
    <div class="submission">
        <img src="./images/items/3.png" alt="">
        <div>
            <h2>Prepr Frontend Re-design</h2>
            <p class="status"><span>Currently</span> IN PROGRESS</p>
            <a href="#">https://github.com/SUKHBATTH</a>
        </div>
    </div>
    
    <div class="submission">
        <img src="./images/items/3.png" alt="">
        <div>
            <h2>Prepr Frontend Re-design</h2>
            <p class="status"><span>Currently</span> IN PROGRESS</p>
            <a href="#">https://github.com/SUKHBATTH</a>
        </div>
    </div>
    <div class="submission">
        <img src="./images/items/4.png" alt="">
        <div>
            <h2>Prepr Frontend Re-design</h2>
            <p class="status"><span>Currently</span> IN PROGRESS</p>
            <a href="#">https://github.com/SUKHBATTH</a>
        </div>
    </div>
</div>